@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bine ai venit!</h1><br />
    <p>Suntem aici pentru a oferi cele mai bune îngrijiri pentru prietenii dumneavoastră necuvântători! Cu o echipă dedicată și experimentată, ne străduim să asigurăm sănătatea și fericirea animalului dvs. de companie.</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
